p1{
  background: #6E8C03;
  color: white;
  font-family:'Chakra Petch', cursive;
  text-align: center;
}

p2{
  color: white;
  background: #6E8C03;
  font-family: 'Tourney', cursive;
  text-align: center;
}
p3{
  color: white;
  background: #6E8C03;
  font-family:'Chakra Petch', sans-serif;
  text-align: center;
}
